.container-fluid {
    padding: 16px;
}
.auto-select-input {
    display: inline-block;
    padding: 0px 16px;
}
.fare {
    padding: 20px;
    width: 80%;
}
.error {
    padding: 20px;
    width: 80%;
    color: red;
}
h2 {
    color: #635e5e;
}
h1 {
    color: #635e5e;
}